<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9KL7m-xAVV12O80bjnChMJ4Ex_2vyAEc</string>
	<key>GCM_SENDER_ID</key>
	<string>375333230289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thebrandsapp</string>
	<key>PROJECT_ID</key>
	<string>thebrandsapp-fc8ae</string>
	<key>STORAGE_BUCKET</key>
	<string>thebrandsapp-fc8ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375333230289:ios:f79b818c9e39d324ef97f0</string>
</dict>
</plist>